name: Faizi Unban Final Stable
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Flet
        run: |
          pip install flet requests urllib3 certifi
          flutter config --no-analytics

      - name: Build APK
        run: |
          # Flet command for custom name and package
          yes | flet build apk --project "whatsapp_unban" --org "com" --product "Whatsapp Unban"
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          # Name change kiya hai taake conflict na ho
          name: Whatsapp-Unban-Final-V2
          path: build/apk/app-release.apk
          # Purani file ko overwrite karne ke liye:
          overwrite: true
